        body{
            text-align: center;
            padding-top: 10%;
        }
        input {
            width: 80%;
            margin: 20px;
            border-radius: 5%;
        }

        .contenedor {
            width: 70%;
            padding: 50px;
            border-radius: 2%;
            box-shadow: 5px 5px 0px 5px rgba(0,0,0,0.5);
        }
